<!-- TEST for BookReader -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <nlog throwExceptions="true" />

  <targets>
    <target name="csv"
            xsi:type="File"
            fileName="${basedir}\..\Data\DebugLog.csv"
            maxArchiveFiles="10"
            archiveAboveSize="1000000"
            archiveNumbering="Sequence"
            concurrentWrites="false"
            >
      <layout xsi:type="CSVLayout" 
              withHeader="false" 
              header="">
        <column name="time" layout="${longdate}" />
        <column name="level" layout="${level}"/>
        <column name="logger" layout="${logger}"/>
        <column name="message" layout="${message}" />
      </layout>
    </target>

    <target name="simple"
        xsi:type="File"
        fileName="${basedir}\..\Data\TestLog.txt"
        archiveEvery="Day"
        maxArchiveFiles="5"
        layout="${date:format=HH\:mm}| ${message}">
    </target>

  </targets>
  <rules>
    <logger name="Simple*" writeTo="simple" />
    <logger name="*" writeTo="csv" />
  </rules>

</nlog>