<!-- Main BookReader project -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <nlog throwExceptions="true" />
  
  <targets>
    <target name="csv"
            xsi:type="File"
            fileName="${tempdir}${processname:fullName=false}\DebugLog.csv"

            maxArchiveFiles="10"
            archiveAboveSize="1000000"
            archiveNumbering="Sequence"
            concurrentWrites="false"
            >
      <layout xsi:type="CSVLayout">
        <column name="time" layout="${longdate}" />
        <column name="level" layout="${level}"/>
        <column name="logger" layout="${logger}"/>
        <column name="message" layout="${message}" />
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" writeTo="csv" />
  </rules>

</nlog>